.product-item {
  padding: 1%;
  margin: 1.5%;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: whitesmoke;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.lg-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: white;
}
