<div fxFlex="60" fxFlexOffset="20">
  <ul style="list-style-type: none;">
    <li class="product-item" *ngFor="let product of products">
      <div fxFlex="18">
        <img src="{{product.ThumbnailURL}}">
      </div>
      <div fxFlex="60">
        <h1 style="font-weight: 700;">{{product.Name}}</h1>
        <br>
        <div fxLayout="row">
          <div style="padding-right: 2%;">
            <h2>${{product.Price}}</h2>
          </div>
          <div style="text-decoration: line-through;">
            ${{product['Retail Price']}}
          </div>
        </div>
      </div>
      <div fxFlex="20" fxLayoutAlign="center center">
        <button class="lg-button" (click)="details(product)" mat-raised-button color="accent">
          View Details
        </button>
      </div>
    </li>
  </ul>
</div>
