<div mat-dialog-content fxLayout="row" fxLayoutGap="1%">
  <div>
    <img src="{{data.PictureURL}}">
  </div>
  <div fxFlex="55" fxLayout="column" fxLayoutAlign="space-between start">
    <div>
      <h1 style="font-weight: 700;">{{data.Name}}</h1>
      <mat-star-rating [color]="'accent'" [rating]="data['Rating Avg']" [starCount]="5"></mat-star-rating>
    </div>
    <br>
    <h3>{{data.Description}}</h3>
    <div>
      <strong>Brand:</strong>
      <p>{{data.Brand}}</p>
      <strong>Color:</strong>
      <p>{{data.Color}}</p>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <div style="padding-right: 4%;">
        <h1>${{data.Price}}</h1>
      </div>
      <div *ngIf="data.Price !== data['Retail Price']" style="text-decoration: line-through;">
        <h3>${{data['Retail Price']}}</h3>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 *ngIf="data.Stock">{{data.Stock}} units</h1>
      <h1 *ngIf="!data.Stock" style="color: red;">Out of Stock</h1>
      <button class="lg-button" mat-raised-button color="accent" (click)="addToCart()">Add to cart</button>
    </div>
  </div>
</div>
